@page
@model itmanager.Pages.Support.SelectUserModel

@{
    ViewData["SelectID"] = "";
    ViewData["Select"] = "";
    ViewData["Title"] = "Asignación de Activos a Soporte";
}

<partial name="_Breadcrumb"/>

<div class="ibox-content">
	<div class="col-lg-12">
        <div class="">
            <table id="datagrid" class="display">
                <thead>
                    <tr>
                        <th width="100%">
                            Nombre
                        </th>
                        <th>
                            Login
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.UsuUsuarios) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuLogin)
                        </td>
                        <td nowrap>
                            <a class="btn btn-primary" asp-page="./AssignActives" asp-route-id="@item.UsuId">Asignar activo</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
      </div>
    </div>
</div>