@page "{id:int}"
@model itmanager.Pages.Roles.DeleteModel

@{
    ViewData["Module"] = "Roles";
    ViewData["Title"] = "Borrado de Roles";
}

<partial name="_Breadcrumb"/>

<h3>Quieres eliminar este registro?</h3>
<div>
    <h4><strong>Rol ID: @Html.DisplayFor(model => model.RolRole.RolId)</strong></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolRole.RolNombre)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolRole.RolDescripcion)
        </dd>
        <dt class="col-sm-2">
            Bloqueado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolRole.RolBloqueado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RolRole.RolId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-warning">Volver a la lista</a>
    </form>
</div>
