@page "{id:int}"
@model itmanager.Pages.ActiveType.EditModel

@{
    ViewData["Module"] = "Tipos de Activo";
    ViewData["Title"] = "Edición de Tipos de Activo";
}

<partial name="_Breadcrumb"/>

<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" class="formbox">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TacTipoActivo.TacId" />
            <div class="item item-4">
                <label asp-for="TacTipoActivo.TacNombre" class="control-label">Nombre</label>
                <input asp-for="TacTipoActivo.TacNombre" class="form-control" />
                <span asp-validation-for="TacTipoActivo.TacNombre" class="text-danger"></span>
            </div>
            <div class="item item-5">
                <div>
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    <a class="btn btn-warning" asp-page="./Index">Volver a la lista</a>
                </div>               
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
